@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.container,
#page {
    max-width: 1770px;
}


/*****HEADER*******/

.header #logo {
    padding-top: 30px;
}

h2.title {
    max-width: 447px;
    text-align: left;
}

h2.title a {
    position: absolute;
    width: 554px;
    height: 324px;
    left: 324px;
    top: 210px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 134.7%;
    text-align: left;
    /* or 81px */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.75);
}


/*****MENU*******/

#menu li a {
    font-family: 'Noto Sans', sans- serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home .navigation>ul>li>a::before,
.home .navigation ul li a.active::before,
.navigation>ul>li>a::before,
.navigation ul li a.active::before,
.navigation li.current_page_item>a::before {
    background: #D0AA1F;
    background-color: #D0AA1F;
}


/*****SLIDER*******/

#slider-div li {
    background-size: 120% !important;
}

.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next {
    display: none;
}

.slides li {
    max-height: 611px;
}

.caption-container {
    opacity: 1!important;
}

.caption-container .company {
    position: absolute;
    width: 151px;
    height: 108px;
    left: 109px;
    top: 212px;
    font-family: 'Noto Sans', sans- serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.85);
}

.caption-container .line {
    position: absolute;
    width: 310px;
    height: 0px;
    left: 137px;
    top: 374px;
    background-color: #D0AA1F;
    border: 2px solid #D0AA1F;
    transform: rotate(90deg);
}

span.first-word,
span.second-word {
    display: block;
}


/*****SERVICES*******/

section#services {
    padding: 80px 100px;
}

.page-services h2 {
    color: #b99617;
    font-family: 'Noto Sans', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 24px;
    line-height: 126.7%;
    text-align: center;
    text-transform: uppercase;
}

.page-services p {
    font-family: Playfair Display SC !important;
    font-style: normal;
    font-weight: bold;
    font-size: 48px !important;
    line-height: 126.7% !important;
    text-align: center !important;
    letter-spacing: 0.04em !important;
    text-transform: uppercase;
    color: #222223 !important;
}


/*****RIBBON*******/

#ribbon .container {
    max-width: 1074px;
}

section#ribbon {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 836px;
}

.ribbon-content {
    max-width: 630px;
}

.service-block {
    padding: 80px 0px 40px 0px;
}

#ribbon .header-button.left-button {
    margin-top: 60px;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Roboto-Bold', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 45px;
}

#ribbon .header-button.left-button:hover {
    color: #fff;
    border-color: #fff;
}

.service-icon {
    margin-bottom: 10px;
}

.publishing {
    background: url(http://bridgespublishinghouse.com/wp-content/uploads/2020/08/ic-publishing.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    width: 150px;
    height: 150px;
}

.editorial {
    background: url(http://bridgespublishinghouse.com/wp-content/uploads/2020/08/ic-authorcoaching.png);
    background-position: 0px 1px, bottom right;
    background-repeat: no-repeat, no-repeat;
    width: 150px;
    height: 150px;
}

.marketing {
    background: url(http://bridgespublishinghouse.com/wp-content/uploads/2020/08/ic-publicity.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    width: 150px;
    height: 150px;
}

.service-title {
    text-align: center;
    margin-bottom: 20px;
}

#ribbon .other-services {
    font-family: Noto Sans;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #222223;
}

.ribbon-button {
    padding: 0;
}

#ribbon .header-button.left-button:hover {
    background-color: #D0AA1F;
    border-color: #D0AA1F;
}


/*****TESTIMONIALS*******/

.testimonials-wrapper,
.testimonials-wrapper .container,
#testimonials::before {
    background-color: #FAFAFA;
}

section#testimonials {
    padding: 60px 0;
}

ul.service-grid li.service-list {
    width: 30.3%;
}

.testimonials-header {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 126.7%;
    /* or 35px */
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #222223;
    background: #FAFAFA;
}

.testimonials-box {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.testimonials-div {
    max-width: 800px;
    margin: 0 auto;
    height: auto;
}

.bx-wrapper {
    position: relative;
    margin: 0 auto 102px;
    padding: 0;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.bx-viewport {
    -webkit-transform: translatez(0);
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 650px !important;
}

.test-quote {
    width: 59%;
    margin: auto;
    text-align: left;
}

section#testimonials ul {
    width: auto;
    position: relative;
    visibility: visible;
    animation-delay: 0.5s;
}

section#testimonials li {
    float: none;
    list-style: outside none none;
    position: absolute;
    width: 800px;
    z-index: 50;
    display: block;
    top: 75px;
    background: url(http://bridgespublishinghouse.com/wp-content/uploads/2020/08/quote.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    width: 150px;
    height: 75px;
}

.test-cont {
    position: absolute;
    width: 500px;
    left: 250px;
    top: 37px;
    text-align: left;
}

.test-cont p {
    margin: 15px 0px 15px 0px;
    font-size: 15px;
    line-height: 1.5;
    color: #222223;
}

.image-test {
    position: absolute;
    width: 384px;
    height: 256px;
    top: 27px;
}

.image-test img {
    width: 80px;
    height: 80px;
    border: none;
}

.test-cont-heading {
    position: absolute;
    width: 484px;
    height: 93px;
    left: 250px;
    top: 0px;
}

.test-cont-heading h2 {
    text-align: left;
    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 36px;
    color: #222223;
    margin: 8px 0 8px 0;
    letter-spacing: 2px;
}


/*****FEATURED-IN*******/

.footer-wrapper,
.footer {
    background-color: #ffffff;
}

.footer-wrapper p {
    display: block;
    color: #b99617;
    font-family: 'Noto Sans', sans-serif;
    font-style: bold;
    font-weight: 800;
    font-size: 24px;
    line-height: 126.7%;
    text-align: center;
    text-transform: uppercase;
}

.footer-widget-column .widget:nth-child(odd) {
    display: none;
}

.footer-widget-column .widget:nth-child(even) {
    width: 100% !important;
}

#gallery-1 {
    display: block;
    width: 100%;
    margin-left: 328px;
}

.gallery-item img {
    margin: 5px;
    padding: 20px;
}

#gallery-1 :not(:first-child) img {
    margin-top: 20px;
}

#gallery-1 :nth-child(5) img {
    margin-top: 25px;
}


/*****FOOTER*******/

.foot-text {
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 126.7%;
    /* identical to box height, or 23px */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social-ft {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 0px
}

.social-ft ul li a {
    padding: 21px;
    font-size: 30px;
    color: #D0AA1F;
}

.divider {
    display: none;
}

.foot-copyright .footer-content {
    background-color: #1E1917;
    padding: 20px 0;
}

.foot-copyright span.text-footer {
    float: none;
    text-align: center;
    display: block;
    margin-right: 0;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #E5E5E5;
}

#scroll {
    bottom: 9px;
}

@media screen and (max-width: 1230px) {
    .caption-container .company {
        left: 109px;
    }
    .caption-container .line {
        left: 137px;
    }
    h2.title a {
        left: 324px;
    }
}

@media screen and (max-width:1024px) {}

@media screen and (max-width:1000px) {}

@media screen and (max-width:860px) {}

@media screen and (max-width:780px) {}

@media screen and (max-width:480px) {}
